<html>
  <head>
  </head>
  <body style="align:left">
    <nav><a routerLink="/app/about/about.component.html">About</a></nav>

  </body>
<body style="text-align:center">
    <header>{{title}}</header>
    <br>
  <div style="text-align:center">
    <img src="https://i.imgur.com/JWqceCx.jpg" alt="Test Image" width="500">
  </div>
  <div style="text-align:center">
   <h3>I don't know what I'm doing, oh god someone help. Why aren't these images loading?</h3>
   <h3>Now I'm testing a commit. God help me still.</h3>
  </div>
</body>
</html>

